$primary-color:hsl(172, 67%, 45%);
$neutral: hsl(189, 41%, 97%);
$neutral-light:  hsl(185, 41%, 84%);
$neutral-medium: hsl(184, 14%, 56%); 
$neutral-dark:  hsl(186, 14%, 43%);
$neutral-dark2: hsl(183, 100%, 15%);  